<style type="text/css">
    .fl {
        float: left;
    }
    .poab {
        position: absolute;
    }
    .pore {
        position: relative;
    }
    .monitorContents {
        position: absolute;
        top: 50px;
        left: 220px;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .b-r-1{
        border-right: 1px solid #575d63 ;
    }
    .b-1{
        border: 1px solid #575d63 ;
    }
    .post_loading{
        border: 2px solid rgba(0, 0, 0, .05);
        border-top: 2px solid #24B498;
        height: 20px;
        width: 20px;
        margin: -15px -15px 0 0;
       /* position: absolute;
        top: 10;
        left: 50%;*/
        margin: -20px -20px 0 0;
        border: 2px solid #fff;
        border-top: 2px solid #24B498;
        border-radius: 100%;
        animation: rotation .6s infinite linear;
    }
    .h-800 {
        height: 800px;
    }
    .ico-action {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .monitor-bg-color{
        background-color: #FFF8EB;
    }
    .w-32 {
        width: 42px !important;
    }
    .datestyles {
        border-width: 0px;
        height: 45px;
        width: 150px;
        /*//width: 60px;*/
        font-size: 21px;
        background-color: #f0f3f4 !important;
        margin-top: 15px;
    }
    .middles {
        vertical-align: middle;
    }
    .media-body a{
        word-break: break-word !important;
    }
}
</style>
<!-- begin #content -->
<div id = "content" class = "content">
    <div id="topics" class="m-b-5 col-md-12 bg-silver">
        <div class="btn-group m-r-5 m-b-5 m-t-15 "  ng-repeat = "(index, items) in monitorData" id = "monitortopic_{{items.topicId}}">
            <a href="javascript:;" ng-click = "movePosition(items.topicId)" class="btn btn-primary btn-lg">{{items.topicName}}</a>
            <a href="javascript:;" data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle" aria-expanded="false">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right f-s-14">
                <li><a href="javascript:;" ng-click = "pauseTop(items.topicId)" class = "stop">隐藏</a></li>
                <li><a href="javascript:;" ng-click = "startTop(items.topicId)" class = "hidden start">显示</a></li>
                <li><a href="javascript:;" ng-click = "openDia(items.topicId , items.topicName)" >修改关键词</a></li>
            </ul>
        </div>
        <div class="btn-group m-r-5 m-b-5 m-t-5 pull-right middles text-center">
            <!-- <input type="text" class="form-control" id="datepicker-default" placeholder="选择日期" /> -->
                <img src = "/static/assets/img/rili.svg" class = "m-b-5 "/>
                <input type="text" id="datepicker-default" placeholder="选择日期" class = "datestyles"
                ng-model = "date"/>

        </div>
    </div>
    <!--end topic lists-->
    <div class="row">
        <!-- begin moitor content-->
        <div class = "col-md-12 bg-black-lighter" id = "topicLists">
            <!-- begin panel -->
                <div ng-repeat = "(index, items) in monitorData" id = "topic_{{items.topicId}}" class="panel panel-primary col-md-3 p-r-0 p-l-0 b-r-1 topics" data-sortable-id="ui-widget-{{items.topicId}}" >
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <!--<a href="javascript:;" class="f-s-20 btn btn-primary btn-sm m-r-5" ng-show="items.topicId!=-1">分析</a>-->
                            <a title="开始" href="javascript:;" class="f-s-15 btn  btn-icon btn-circle btn-success" ng-click = "startfresh(items)" ng-show="!items.fresh"><i class="fa fa-play-circle"></i></a>
                            <a title="暂停" href="javascript:;" class="f-s-15 btn  btn-icon btn-circle btn-success" ng-click = "pausefresh(items)" ng-show="items.fresh"><i class="fa fa-pause"></i></a>
                            <a title="刷新" href="javascript:;" class="f-s-18 btn  btn-icon btn-circle btn-success" ng-click = "refreshData(items.topicId)"><i class="fa fa-repeat"></i></a>
                            <a title="最小化" href="javascript:;" class="f-s-18 btn  btn-icon btn-circle btn-warning" ng-click="panelCollapse(items.topicId)"><i class="fa fa-minus"></i></a>
                            <a title="话题分析" class="f-s-18 btn  btn-icon btn-circle btn-success" ng-click="openModal(items.topicId)" ng-show="items.topicId!=-1"><i class="fa fa-bar-chart-o"></i></a>
                        </div>
                        <h4 class="panel-title f-s-15">{{items.topicName}}</h4>
                    </div>
                    <div class="panel-body">
                        <div  class = "">
                            <ul class="media-list media-list-with-divider overflow-y-scroll h-800" scrolly="showMore({{items.topicId}})">
                                <div class = "width-full m-t-10 m-b-10 loads" style = "display:none">
                                    <p class = "text-center">
                                        <i class = "fa post_loading">
                                        </i>
                                    </p>
                                </div>
                                <div class = "width-full m-t-10 m-b-10 addnums" style = "display:none">
                                    <p class = "text-center">
                                        <i class = "fa fa-bullhorn">
                                            更新{{items.count || 0}}条帖子！！！
                                        </i>
                                    </p>
                                </div>
                                <li class="media media-sm p-r-10" ng-repeat = "(ii, it) in items.postData" 
                                 ng-mouseover = "addBg($event)" ng-mouseout = "removeBg($event)">
                                    <a href = "{{it.poster.home_url}}" target = "_blank" class="pull-left">
                                    <img ng-src="{{it.poster.img_url}}" ng-if = "it.poster.img_url&&it.poster.img_url !== ''" class="media-object rounded-corner w-32">
                                    <img ng-src="{{pics[it.data_type]}}" ng-if = "!(it.poster.img_url&&it.poster.img_url !== '')" class="media-object rounded-corner w-32">
                                    </a>
                                    <div class="media-body">
                                        <a class = "m-b-10 h-32" ng-href = "{{it.url}}" target="_blank">
                                            <!-- <h4 class="media-heading" ng-if = "it.board != 'Sina'">{{it.title}}</h4> -->
                                            <h4 class="media-heading f-s-16" ng-if = "it.data_type!=3&&it.poster.name != ''"
                                            >
                                                 {{it.poster.name}}
                                            </h4>
                                            <h4 class="media-heading f-s-16" ng-if = "it.data_type==3"
                                            >
                                                 {{it.title}}
                                            </h4>
                                        </a>
                                        <p class="m-b-5 m-t-5 f-s-14">
                                        <a ng-href = "{{it.url}}" target="_blank" style="color: #333">
                                        <h4 class="media-heading f-s-15" ng-if = "(!it.poster||it.poster.name == '')&&it.title"
                                         ng-show = "it.board != 'Sina'">{{it.title}}</h4>
                                         </a>
                                        <a  ng-if = "it.content" ng-href = "{{it.url}}" target="_blank" class = "f-s-14">
                                            {{it.content}}
                                        </a>
                                        <a  ng-if = "!it.content&&it.title" ng-href = "{{it.url}}" target="_blank" class = "f-s-14">
                                            {{it.title}}
                                        </a>
                                        </p>
                                        <!-- <img src={{it.img_url}} class="m-b-10" style="width: 100%;max-height: 200px"> -->
                                        <i class="text-muted">{{it.pt_time}}, {{it.board}}</i>
                                        <div>
                                            <p ng-if = "it.data_type == 2" >
                                                评论(
                                                 <a href="javascript:;">
                                                    {{it.comm_num || 0}}
                                                 </a>
                                                )
                                                 回帖(
                                                 <a href="javascript:;">
                                                    {{it.repost_num || 0}}
                                                 </a>
                                                ) 
                                                点赞(
                                                <a href="javascript:;">
                                                    {{it.read_num || 0}}
                                                 </a>
                                                )
                                            </p>
                                        </div>
                                    </div>
                                    <div class = "pull-right p-t-1 p-r-5 width-full f-s-14 text-right iconslists"
                                    ng-show = "false">
                                            <!--<a title = "帖子分析"-->
                                            <!--ng-click = "OpenAnaly('analy_1',items.topicId)">-->
                                            <!--<img src = "/static/assets/img/analy.svg">-->
                                            <!--</a>-->
                                            <a class = "addsen" title = "添加敏感信息" ng-click = "AddSenmessage(it._id)">
                                                <img src = "/static/assets/img/add.svg">
                                            </a>
                                            <!--<a class = "save" title = "标记为已读" ng-click = "MarkRead(this)">-->
                                                <!--<img src = "/static/assets/img/save.svg">-->
                                            <!--</a>-->
                                    </div>
                                </li>
                                <div class = "width-full m-t-20 loadsMore" style = "display:none">
                                    <p class = "text-center">
                                        <i class = "fa post_loading">
                                        </i>
                                    </p>
                                </div>
                                <div class="alert alert-info fade in m-b-15  m-t-15 width-full" style = "display:none" >
                                    <p class = "text-center">
                                        <strong> 没有更多消息啦! </strong>
                                    </p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
                <!-- begin panel -->
                <div id = "analy_1" class="panel panel-primary col-md-3 p-r-0 p-l-0 b-r-1 analy animate fadeIn" data-sortable-id="ui-widget-7" style = "display:none">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" ng-click = "stopAnaly('analy_1')"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title">话题分析</h4>
                    </div>
                    <div class="panel-body">
                        <div data-scrollbar="true" data-height="800px">
                            <div class = "width-full height-sm m-b-20">
                                <h4>帖子时序分析</h4>
                                <div class = "" id = "timeAna">

                                </div>
                            </div>
                            <hr>
                            <div class = "width-full height-sm">
                                <h4>博主分析</h4>
                                <div id = "posterAna">

                                </div>
                            </div>
                             <hr>
                            <div class = "width-full height-sm">
                                <h4>传播路径分析</h4>
                                <div id = "broadcastAna">

                                </div>
                            </div>
                             <hr>
                            <div class = "width-full height-sm">
                                <h4>关键词云分析</h4>
                                <div id = "keywordsAna">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        <!-- end panel -->
        <!-- end monitor content-->
    </div>
</div>
