<style type="text/css">
    .fl {
        float: left;
    }
    .poab {
        position: absolute;
    }
    .pore {
        position: relative;
    }
    .monitorContents {
        position: absolute;
        top: 50px;
        left: 220px;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .b-r-1{
        border-right: 1px solid #575d63 ;
    }
    .b-1{
        border: 1px solid #575d63 ;
    }
    .post_loading{
        border: 2px solid rgba(0, 0, 0, .05);
        border-top: 2px solid #24B498;
        height: 20px;
        width: 20px;
         : -15px -15px 0 0;
       /* position: absolute;
        top: 10;
        left: 50%;*/
        margin: -20px -20px 0 0;
        border: 2px solid #fff;
        border-top: 2px solid #24B498;
        border-radius: 100%;
        animation: rotation .6s infinite linear;
    }
    .h-800 {
        height: 800px;
    }
    .ico-action {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .monitor-bg-color{
        background-color: #FFF8EB;
    }
    .visited{
        background-color: rgb(252,157,154) !important;
    }
    .w-32 {
        width: 42px !important;
        height: 42px !important;
    }
    .datestyles {
        border-width: 0px;
        height: 45px;
        width: 150px;
        /*//width: 60px;*/
        font-size: 21px;
        background-color: #f0f3f4 !important;
        margin-top: 5px;
        padding-top: 7px;
    }
    .middles {
        vertical-align: middle;
    }
    .media-body a{
        word-break: break-word !important;
    }
}
</style>
<!-- begin #content -->
<div class="content" id="content">
    <div class="btn-group" ng-permission="2">
        <label class="control-label" style="font-weight: 1000;font-size:20px;margin-top: 6px;position: absolute;">
            组内监控:
        </label>
        <label style="margin-top: 5px;margin-left: 100px;width: 150px">
            <input id="users" style="display: inline-block;" type="text"/>
        </label>
        <button class="btn btn-primary" ng-click="groupMonitor()" style="margin-top: 5px;margin-left: 10px;position: relative;float:right">
            查看
        </button>
    </div>
    <div class="m-b-15 col-md-12 bg-silver" id="min-topics" style="display: none;">
        <div class="btn-group m-r-5 m-b-5 m-t-5 pull-right middles text-center" id="minDatePicker">
            <img class="m-b-5 " src="/static/assets/img/rili.svg"/>
            <input class="datestyles" id="datepicker-default1" ng-model="date" placeholder="选择日期" style="width:70%;font-size:1.5em;text-align:center;" type="text"/>
        </div>
        <select name="senmes_source" ng-model="selectedItem" style="height:24px">
            <option ng-repeat="(index, items) in monitorData" value="{{items.topicId}},{{items.topicName}}">
                {{items.topicName}}
            </option>
        </select>
        <div class="btn-group m-r-3 m-b-5 m-t-5">
            <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="pauseTop(selectedItem.split(',')[0])">
                隐藏啊
            </a>
        </div>
        <div class="btn-group m-r-3 m-b-5 m-t-5">
            <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="startTop(selectedItem.split(',')[0])">
                显示
            </a>
        </div>
        <div class="btn-group m-r-3 m-b-5 m-t-5">
            <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="remove(selectedItem.split(',')[0])">
                删除
            </a>
        </div>
        <div class="btn-group m-r-3 m-b-5 m-t-5">
            <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="changeTopic(selectedItem.split(',')[0])">
                修改关键词
            </a>
        </div>
    </div>
    <div class="m-b-5 col-md-12 bg-silver" id="topics" style="margin-bottom:5px;">
        <div class="btn-group m-r-5 m-b-5 m-t-15" id="monitortopic_{{items.topicId}}" ng-repeat="(index, items) in monitorData">
            <a class="btn btn-primary btn-lg" href="javascript:;" ng-click="movePosition(items.topicId)">
                {{items.topicName}}
            </a>
            <a aria-expanded="false" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                <span class="caret">
                </span>
            </a>
            <ul class="dropdown-menu pull-right f-s-14">
                <li>
                    <a class="stop" href="javascript:;" ng-click="pauseTop(items.topicId)">
                        隐藏
                    </a>
                </li>
                <li>
                    <a class="hidden start" href="javascript:;" ng-click="startTop(items.topicId)">
                        显示
                    </a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="remove(items)">
                        删除
                    </a>
                </li>
                <li>
                    <a href="#myModal" ng-click="changeTopic(items)" data-toggle="modal" data-backdrop="false">
                        修改关键词
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group m-r-5 m-b-5 m-t-15" id="SetTopic">
            <!-- <a href="javascript:;" class="btn btn-primary btn-lg" ng-click="SetTopic()"> -->
            <a href="#myModal" class="btn btn-primary btn-lg" data-toggle="modal" data-backdrop="false" ng-click="newTopic()">
              <i class="fa fa-plus m-r-5"></i>
                新建话题
            </a>
        </div>
        <div class="btn-group m-r-5 m-b-5 m-t-5 pull-right middles text-center" id="timePicker">
            <!-- <input type="text" class="form-control" id="datepicker-default" placeholder="选择日期" /> -->
            <img class="m-b-5 " src="/static/assets/img/rili.svg"/>
            <input class="datestyles" id="datepicker-default" ng-model="date" placeholder="选择日期" type="text"/>
        </div>
    </div>
    <!--end topic lists-->
    <div class="row">
        <!-- begin moitor content-->
        <div class="col-md-12 bg-black-lighter" id="topicLists">
            <!-- begin panel -->
            <div class="panel panel-primary col-md-3 p-r-0 p-l-0 b-r-1 topics" data-sortable-id="ui-widget-{{items.topicId}}" id="topic_{{items.topicId}}" ng-repeat="(index, items) in monitorData">
                <div class="panel-heading" style="background-color:{{items.bgColor}}">
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="f-s-20 btn btn-primary btn-sm m-r-5" ng-show="items.topicId!=-1">分析</a>-->
                        <a class="f-s-15 btn btn-icon btn-circle btn-success" href="javascript:;" ng-click="startfresh(items)" ng-show="!items.fresh" title="开始">
                            <i class="fa fa-play-circle">
                            </i>
                        </a>
                        <a class="f-s-15 btn btn-icon btn-circle btn-success" href="javascript:;" ng-click="pausefresh(items)" ng-show="items.fresh" title="暂停">
                            <i class="fa fa-pause">
                            </i>
                        </a>
                        <a class="f-s-18 btn btn-icon btn-circle btn-success" href="javascript:;" ng-click="refreshData(items.topicId)" title="刷新">
                            <i class="fa fa-repeat">
                            </i>
                        </a>
                        <a class="f-s-18 btn btn-icon btn-circle btn-warning" href="javascript:;" ng-click="panelCollapse(items.topicId)" title="最小化">
                            <i class="fa fa-minus">
                            </i>
                        </a>
                        <a class="f-s-18 btn btn-icon btn-circle btn-success" ng-click="openModal(items.topicId)" ng-show="items.topicId!=-1" title="话题分析">
                            <i class="fa fa-bar-chart-o">
                            </i>
                        </a>
                    </div>
                    <h4 class="panel-title f-s-15" title="发现用户:{{items.username}}">
                        {{items.topicName}}
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="width-full m-t-10 m-b-10 addnums" style="display:none">
                        <p class="text-center">
                            <i class="fa fa-bullhorn text-info">
                                有{{items.count || 0}}条新帖子，点击
                                <a ng-click="refreshData(items.topicId)" style="color:blue; cursor: pointer;">
                                    此处
                                </a>
                                刷新。
                            </i>
                        </p>
                    </div>
                    <div class="">
                        <ul class="media-list media-list-with-divider overflow-y-scroll h-800" scrolly="showMore({{items.topicId}})">
                            <div class="width-full m-t-10 m-b-10 loads" style="display:none">
                                <p class="text-center">
                                    <i class="fa post_loading">
                                    </i>
                                </p>
                            </div>
                            <!--     <div class = "width-full m-t-10 m-b-10 addnums" style = "display:none">
                                    <p class = "text-center">
                                        <i class = "fa fa-bullhorn text-info">
                                            有{{items.count || 0}}条新帖子，点击<a style="color:blue; cursor: pointer;" ng-click="refreshData(items.topicId)">此处</a>刷新。
                                        </i>
                                    </p>
                                </div> -->
                            <li class="media media-sm p-r-10" ng-class="{'visited':it.is_read!=0}" ng-mouseout="removeBg($event)" ng-mouseover="addBg($event)" ng-repeat="(ii, it) in items.postData">
                                <div ng-if="it.flag" style="width: 100%;font-size: 1.5em; line-height: 2.0em;text-align: center;background: #ffffff">
                                    下面已读
                                </div>
                                <div ng-if="it.flag==undefine">
                                    <a class="pull-left" href="{{it.poster.home_url}}" target="_blank">
                                        <img class="media-object rounded-corner w-32 " ng-if="it.poster.img_url&&it.poster.img_url !== ''&&it.poster.img_url !== ' '" ng-src="{{it.poster.img_url}}">
                                            <img class="media-object rounded-corner w-32" ng-if="!(it.poster.img_url&&it.poster.img_url !== ''&&it.poster.img_url !== ' ')" ng-src="{{pics[it.data_type]}}">
                                            </img>
                                        </img>
                                    </a>
                                    <div class="media-body">
                                        <a class="m-b-10 h-32" ng-href="{{it.url}}" target="_blank">
                                            <!-- <h4 class="media-heading" ng-if = "it.board != 'Sina'">{{it.title}}</h4> -->
                                            <h4 class="media-heading f-s-16" ng-if="it.data_type!=3&&it.poster.name != ''">
                                                {{it.poster.name}}
                                            </h4>
                                            <h4 class="media-heading f-s-16" ng-if="it.data_type==3">
                                                {{it.title}}
                                            </h4>
                                        </a>
                                        <p class="m-b-5 m-t-5 f-s-14">
                                            <a ng-click="markRead(it)" ng-href="{{it.url}}" style="color: #333" target="_blank">
                                                <h4 class="media-heading f-s-15" ng-if="(!it.poster||it.poster.name == '')&&it.title" ng-show="it.board != 'Sina'">
                                                    {{it.title}}
                                                </h4>
                                            </a>
                                            <a class="f-s-14" ng-href="{{it.url}}" ng-if="it.content" target="_blank">
                                                {{it.content}}
                                            </a>
                                            <a class="f-s-14" ng-href="{{it.url}}" ng-if="!it.content&&it.title" target="_blank">
                                                {{it.title}}
                                            </a>
                                        </p>
                                        <img ng-if="it.img_url!=''" src={{it.img_url}} class="m-b-10" style="width: 100%;max-height: 200px">
                                        <i class="text-muted">
                                            {{it.pt_time}}, {{it.board}}
                                        </i>
                                        <div>
                                            <p ng-if="it.data_type == 2">
                                                评论(
                                                <a href="javascript:;">
                                                    {{it.comm_num || 0}}
                                                </a>
                                                )
                                                     回帖(
                                                <a href="javascript:;">
                                                    {{it.repost_num || 0}}
                                                </a>
                                                )
                                                    点赞(
                                                <a href="javascript:;">
                                                    {{it.read_num || 0}}
                                                </a>
                                                )
                                            </p>
                                            <p ng-if="it.is_read">
                                                (已添加)
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pull-right p-t-1 p-r-5 width-full f-s-14 text-right iconslists" ng-show="false">
                                        <!--<a title = "帖子分析"-->
                                        <!--ng-click = "OpenAnaly('analy_1',items.topicId)">-->
                                        <!--<img src = "/static/assets/img/analy.svg">-->
                                        <!--</a>-->
                                        <a class="addsen" ng-click="AddSenmessage(it._id,it.site_id)" title="添加敏感信息">
                                            <img src="/static/assets/img/add.svg">
                                            </img>
                                        </a>
                                        <!--<a class = "save" title = "标记为已读" ng-click = "MarkRead(this)">-->
                                        <!--<img src = "/static/assets/img/save.svg">-->
                                        <!--</a>-->
                                    </div>
                                </div>
                            </li>
                            <div>
                            </div>
                            <div class="width-full m-t-20 loadsMore" style="display:none">
                                <p class="text-center">
                                    <i class="fa post_loading">
                                    </i>
                                </p>
                            </div>
                            <div class="alert alert-info fade in m-b-15 m-t-15 width-full" ng-if="!items.isLoad">
                                <p class="text-center">
                                    <strong>
                                        没有更多消息啦!
                                    </strong>
                                </p>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end panel -->
            <!-- begin panel -->
            <div class="panel panel-primary col-md-3 p-r-0 p-l-0 b-r-1 analy animate fadeIn" data-sortable-id="ui-widget-7" id="analy_1" style="display:none">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" href="javascript:;">
                            <i class="fa fa-repeat">
                            </i>
                        </a>
                        <a class="btn btn-xs btn-icon btn-circle btn-danger" href="javascript:;" ng-click="stopAnaly('analy_1')">
                            <i class="fa fa-times">
                            </i>
                        </a>
                    </div>
                    <h4 class="panel-title">
                        话题分析
                    </h4>
                </div>
                <div class="panel-body">
                    <div data-height="800px" data-scrollbar="true">
                        <div class="width-full height-sm m-b-20">
                            <h4>
                                帖子时序分析
                            </h4>
                            <div class="" id="timeAna">
                            </div>
                        </div>
                        <hr>
                            <div class="width-full height-sm">
                                <h4>
                                    博主分析
                                </h4>
                                <div id="posterAna">
                                </div>
                            </div>
                            <hr>
                                <div class="width-full height-sm">
                                    <h4>
                                        传播路径分析
                                    </h4>
                                    <div id="broadcastAna">
                                    </div>
                                </div>
                                <hr>
                                    <div class="width-full height-sm">
                                        <h4>
                                            关键词云分析
                                        </h4>
                                        <div id="keywordsAna">
                                        </div>
                                    </div>
                                </hr>
                            </hr>
                        </hr>
                    </div>
                </div>
            </div>
        </div>
        <!-- end panel -->
        <!-- end monitor content-->
    </div>
</div>
<div class="modal fade col-lg-10 col-lg-offset-1" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{modelName}}
                </h4>
            </div>
            <div class="modal-body" style="background: #f3f3f3">
                <div id="content" class="content-full-width">
                    <!-- begin vertical-box -->
                    <div class="vertical-box">
                        <!-- begin vertical-box-column -->
                        <div class="vertical-box-column width-250">
                            <div class="wrapper">
                                <p><b>全部站点</b></p>
                                <ul class="nav nav-pills nav-stacked nav-sm">
                                    <li ng-repeat="oneTypeSite in allsites"><a data-toggle="collapse" href="#{{oneTypeSite.siteTypeId}}copy" ng-drag="true" ng-drag-data="{{oneTypeSite}}" ng-drag-success="onAllDrag($data,$event)"><i class="fa fa-inbox fa-fw m-r-5"></i> {{ oneTypeSite.siteTypeName }}</a>
                                    <ul id="{{oneTypeSite.siteTypeId}}copy" class="collapse nav">
                                        <li class="text-center" ng-repeat="node in oneTypeSite.detail_sites" ng-drag="true" ng-drag-data="{{node}}" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true">
                                            <a href="javascript::void">{{node.siteName}}</a>
                                        </li>
                                    </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- end wrapper -->
                        </div>
                        <!-- end vertical-box-column -->
                        <!-- begin vertical-box-column -->
                        <div class="vertical-box-column">
                            <div class="wrapper">
                                <div class="p-30 bg-white">
                                    <!-- begin email form -->
                                    <form method="POST" name="topicForm" ng-submit="save()" novalidate="false">
                                        <!-- begin email to -->
                                        <label class="control-label">话题名称:</label>
                                        <div class="m-b-15">
                                            <input type="text" name="topicname" class="form-control" ng-model="topic.topicName" ng-disabled="topicNameEnable == true" nameexist-check required/>
                                            <span class="pull-right text-danger" ng-show="topicForm.topicname.$error.required&&topicForm.topicname.$dirty">
                                                话题名称不能为空
                                            </span>
                                            <span class="pull-right text-danger" ng-show="topicForm.topicname.$error.exist">
                                                话题名称已存在
                                            </span>
                                        </div>
                                        <!-- end email to -->
                                        <!-- begin email subject -->
                                        <label class="control-label">查询关键字:</label>
                                        <!-- end email subject -->
                                        <!-- begin email content -->

                                        <div class="m-b-15" style="border: 1px solid #ccd0d4;  border-radius: 5px; padding: 10px 5px">
                                            <div style="border: 1px solid #999;border-radius: 2px;margin-bottom: 5px;padding: 5px;background-color: rgba(250, 240, 210, 0.5); width: 100%" ng-repeat="(i,andkeywords) in topic.topicKeywords">
                                                <div style="display: inline-block; width: 25%">
                                                    <select class="form-control">
                                                        <option value="and" selected>AND</option>
                                                    </select>
                                                </div>
                                                <div style="display: inline-block; width: 60%; vertical-align: middle;">
                                                    <input type="text" name="keywords_{{i}}" class="form-control" class="form-control" ng-model="andkeywords.str" ng-pattern="/^(([\u4e00-\u9fa5]|\w)+\,)*(([\u4e00-\u9fa5]|\w)+)$/" required/>
                                                </div>
                                                <div class="f-s-20" style="display: inline-block; width: 14%; vertical-align: middle;">
                                                    <i class="btn btn-xs fa fa-plus-circle text-success" ng-click="addAndKeywords()" title="添加关键词组"></i>
                                                    <i class="btn btn-xs fa fa-minus-circle text-danger" ng-click="delAndKeywords(i)" ng-show="topic.topicKeywords.length>1" title="删除关键词组"></i>
                                                    <span class="btn btn-xs text-info fa fa-adn" ng-click="openBatchPage()" title="添加关键词组合">
                                                    </span>
                                                </div>
                                                <span class="text-danger" ng-show="topicForm.keywords_{{i}}.$error.required
                                                &&topicForm.keywords_{{i}}.$dirty" style="position: relative; left: 80%">
                                                关键词组不能为空
                                                </span>
                                                <span class="text-danger" ng-show="topicForm.keywords_{{i}}.$error.pattern" style="position: relative; left: 70%">
                                                    含有非法字符，关键字需以,隔开
                                                </span>
                                            </div>
                                            <!-- <div style="width: 100%;" class="m-b-15">
                                                <i class="" style="width: 4%; display: inline-block;">
                                                    AND:
                                                </i>
                                                <textarea type="text" name="andkeywords" class="form-control" ng-model="topic.topicKeywords._and" required="" ng-pattern="/^(([\u4e00-\u9fa5]|\w)+\,)*(([\u4e00-\u9fa5]|\w)+)$/" style="width: 95%; display: inline-block; vertical-align: middle;"/>
                                                </textarea>
                                                <span class="pull-right text-danger" ng-show="topicForm.andkeywords.$error.require
                                                &&topicForm.andkeywords.$dirty">
                                                必须含有一个关键词
                                                </span>
                                                <span class="pull-right text-danger" ng-show="topicForm.andkeywords.$error.pattern">
                                                    含有非法字符，关键字需以,隔开
                                                </span>
                                            </div>
                                            <div style="width: 100%;" class="m-b-15">
                                                <i class="" style="width: 4%; display: inline-block;">
                                                    OR:
                                                </i>
                                                <textarea type="text" name="orkeywords" class="form-control" ng-model="topic.topicKeywords._or" required="" ng-pattern="/^(([\u4e00-\u9fa5]|\w)+\,)*(([\u4e00-\u9fa5]|\w)+)$/" style="width: 95%; display: inline-block; vertical-align: middle;"/>
                                                </textarea>
                                                <span class="pull-right text-danger" ng-show="topicForm.orkeywords.$error.require
                                                &&topicForm.orkeywords.$dirty">
                                                必须含有一个关键词
                                                </span>
                                                <span class="pull-right text-danger" ng-show="topicForm.orkeywords.$error.pattern">
                                                    含有非法字符，关键字需以,隔开
                                                </span>
                                            </div> -->
                                        </div>

                                        <label class="control-label">站点信息:</label>
                                        <div class="m-b-15">
                                            <div class="panel" style="border: 1px solid #ccd0d4" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                                                <ul class="nav nav-pills nav-stacked nav-sm panel-body">
                                                    <li ng-repeat="oneTypeSite in allsites">
                                                    <span><input type="checkbox" ng-model="oneTypeSite.selected" ng-click="onAllSelected(oneTypeSite)"/></span>
                                                    <a data-toggle="collapse" href="#{{oneTypeSite.siteTypeId}}" style="display: inline-block;"><i class="fa fa-inbox fa-fw m-r-5"></i>
                                                    {{ oneTypeSite.siteTypeName }}</a>
                                                    <ul id="{{oneTypeSite.siteTypeId}}" class="collapse list-inline in">
                                                        <li ng-repeat="node in oneTypeSite.detail_sites">
                                                            <span><input type="checkbox" ng-model="node.selected" ng-click="checkBoxChange(node,oneTypeSite)"/></span>
                                                            <a href="javascript::void">{{node.siteName}}</a>
                                                        </li>
                                                    </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end email content -->
                                        <button type="submit" class="btn btn-primary p-l-40 p-r-40" ng-disabled="topicForm.topicname.$invalid||topicForm.keywords.$invalid">提交</button>
                                    </form>
                                    <!-- end email form -->
                                </div>
                            </div>
                            <!-- end wrapper -->
                        </div>
                        <!-- end vertical-box-column -->
                    </div>
                    <!-- end vertical-box -->
                    </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
            </div>
            <!-- end row -->
            </div>
        </div>
</div>
