<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
	<!-- begin container-fluid -->
	<div class="container-fluid">
		<!-- begin mobile sidebar expand / collapse button -->
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand"><span class=""><img src="/static/assets/img/logo.svg" style="height: 38px"></span> 舆情系统</a>
			<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- end mobile sidebar expand / collapse button -->
		
		<!-- begin header navigation right -->
		<ul class="nav navbar-nav navbar-right">
			<li>
				<form class="navbar-form full-width f-s-15">
					<div class="form-group">
						<input type="text" ng-model="$parent.searchword" class="form-control" placeholder="请输入搜索词"/>
						<button type="submit" class="btn btn-search" ng-click="search()"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</li>
            <li>
                <a href="javascript:;" class="f-s-18" data-toggle="modal" data-target="#helpDoc" title="如何使用">
                    <i class="fa fa-question-circle"></i>
                </a>
            </li>
		<!-- 	<li class="dropdown">
				<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
					<i class="fa fa-bell-o"></i>
					<span class="label">5</span>
				</a>
				<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                    <li class="dropdown-header">Notifications (5)</li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Server Error Reports</h6>
                                <div class="text-muted f-s-11">3 minutes ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><img src="/static/assets/img/user-1.jpg" class="media-object" alt="" /></div>
                            <div class="media-body">
                                <h6 class="media-heading">John Smith</h6>
                                <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                <div class="text-muted f-s-11">25 minutes ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><img src="/static/assets/img/user-2.jpg" class="media-object" alt="" /></div>
                            <div class="media-body">
                                <h6 class="media-heading">Olivia</h6>
                                <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                <div class="text-muted f-s-11">35 minutes ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading"> New User Registered</h6>
                                <div class="text-muted f-s-11">1 hour ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading"> New Email From John</h6>
                                <div class="text-muted f-s-11">2 hour ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-footer text-center">
                        <a href="javascript:;">View more</a>
                    </li>
				</ul>
			</li> -->
			<li class="dropdown navbar-user f-s-15">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<img src="/static/assets/img/user-13.jpg" alt="" /> 
					<span class="hidden-xs">yuqing</span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu animated fadeInLeft">
					<li class="arrow"></li>
					<li><a href="javascript:;">个人设置</a></li>
					<li class="divider"></li>
					<li><a href="/yuqing/login" ng-click="logout()">退出</a></li>
				</ul>
			</li>
		</ul>
		<!-- end header navigation right -->
	</div>
	<!-- end container-fluid -->
</div>
<!-- end #header -->
<div class="modal fade" id="helpDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">常见问题</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <ul>
                        <li>
                            <h4>如何查看系统中的统计图形对应的帖子？</h4>
                            <p class="f-s-14">
                                词云图通过单击查看原帖
                            </p>
                            <img src="/static/assets/img/help/cloudhelp.png" style="width: 80%; margin-bottom: 10px">
                            <p class="f-s-14">
                                交互图通过双击查看原帖
                            </p>
                            <img src="/static/assets/img/help/jiaohuhelp.png" style="width: 80%; margin-bottom: 10px">
                        </li>
                        <li>
                            <h4>检索完成后如何从检索结果页面返回检索规则设置页面？</h4>
                            <p class="f-s-14">
                                检索规则页面与检索结果位于同一个页面，检索成功后系统自动将检索设置组件隐藏，通过单击搜索框可将检索设置组件显示出来。
                            </p>
                            <img src="/static/assets/img/help/search.png" style="width: 80%; margin-bottom: 10px">
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>