<div id="content" class="content">
    <div class="row">
                <div class="col-md-12">
                    <div class="email-btn-row hidden-xs">
                        <!-- <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus m-r-5"></i> 添加组</a> -->
                        <!-- <a class="btn btn-sm btn-primary" ng-click="adduser()" data-toggle="modal"><i class="fa fa-plus m-r-5"></i> 添加用户</a>
                        <a class="btn btn-sm btn-primary" ng-show="showbtn"><i class="fa fa-edit m-r-5"></i> 修改用户权限</a>
                        <a ng-click="delmul()" ng-show="showbtn" class="btn btn-sm btn-primary"><i class="fa fa-minus m-r-5"></i> 删除用户</a>  -->
                        <ul class="m-b-10 list-unstyled list-inline">
                            <li><a class="btn btn-sm btn-primary" ng-click="adduser()"><i class="fa fa-plus m-r-5"></i>添加用户</a></li>
                            <li><a class="btn btn-sm btn-primary" ng-click="editTopic()"><i class="fa fa-edit m-r-5"></i>管理用户话题</a></li> 
                            <li><a class="btn btn-sm btn-primary" ng-click="delmul()"><i class="fa fa-trash-o m-r-5"></i>删除用户</a></li>
                            <li>
                                <a class="btn btn-sm btn-primary" ng-click="sendmul()"><i class="fa fa-envelope-o m-r-5"></i>
                                    发送消息
                                </a>
                            </li>
                        </ul>   
                    </div>
                    
                    <div class="email-content">
                        <div>
                            <form class="navbar-form navbar-left" role="search">
                                <!-- <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus m-r-5"></i> 添加组</a>
                                <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus m-r-5"></i> 添加用户</a>
                                <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-minus m-r-5"></i> 删除用户</a>
                                <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-edit m-r-5"></i> 管理用户话题</a> -->
                                <label>
                                    小组
                                </label>
                                <!-- <select class="input-sm" ng-options="x.group_id for x in group" ng-model="selectedGroup" ng-change="selectGroup()"> -->
                                <select class="input-sm" ng-model="selectedGroup" id="select1" ng-change="selectGroup()">
                                    <option >全部</option>
                                   
                                    <option ng-repeat="(key, value) in group"">{{key+1}}</option>
                                </select>
                            </form>
                            <form class="navbar-form navbar-right">
                                <div class="form-group">
                                    <input type="text" ng-model="$parent.searchword" class="form-control" placeholder="用户搜索"/>
                                     <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-search m-r-5"></i></a>
                                     <!-- <button type="submit" class="btn btn-search" ng-click="search()"><i class="fa fa-search"></i></button> -->
                                </div>
                            </form>
                        </div>
                        <!-- <ul class="nav navbar-nav">
                            <li>
                                <form class="navbar-form full-width f-s-15">
                                    <div class="form-group">
                                        <input type="text" ng-model="$parent.searchword" class="form-control" placeholder="用户搜索"/>
                                        <button type="submit" class="btn btn-search" ng-click="search()"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </li> 
                        </ul> -->
                        <table class="table table-email">
                            <thead>
                                <tr>
                                	<th><input class="m-r-2" type="checkbox" ng-model="allselected" ng-click="selectAll()">用户id</th>
                                	<th>用户名</th>
                                    <th>用户权限</th>
                                    <th>所属用户组</th>
                                    <!-- <th>注册时间</th> -->
                                    <th>最近登录时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in alluser">
                                <td style="width: 10%"><input class="m-r-2" type="checkbox" ng-model="user.selected" ng-click="selectBoxChange(user)">{{user.user_id}}</td>
                                <td style="width: 10%">{{user.user_account}}</td>
                                <td style="width: 10%">{{user.user_role_id}}</td>
                                <td style="width: 10%">{{user.user_group_id}}</td>
                                <!-- <td style="width: 20%">{{user.regtime}}</td> -->
                                <td style="width: 20%">{{user.user_logintime}}</td>
                                <td style="width: 10%">
                                	<ul class="breadcrumb">
                                        <li>
                                            <a href="" title="修改用户属性" class="email-btn" ng-click="editUser(user)" ng-model="item.username" data-toggle="modal" data-backdrop="false"><i class="fa fa-edit"></i></a>
                                        </li>
                                        <li>
                                            <a href="" title="发送消息" class="email-btn" ng-click="sendMessage([user])" ng-model="item.username" data-toggle="modal" data-backdrop="false"><i class="fa fa-envelope-o"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript::void," title="删除用户" class="email-btn" ng-click="delsin(user)"><i class="fa fa-trash-o"></i></a>
                                        </li>
                                    </ul>
                                </td>
                        </tr>

                            </tbody>
                        </table>
                        <div class="email-footer clearfix">
                            <ul class="pagination pagination-sm m-t-0 m-b-0 pull-right">
                                <li class="disabled"><a href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="disabled"><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
                <!-- end col-10 -->
            </div>
</div>
