<style>
.dia_warning{
    color: #f59c1a;
}

.ngdialog.ngdialog-theme-details {
    padding: 5% !important;
}

.ngdialog.ngdialog-theme-details .ngdialog-content {
    width: 1000px !important;
}

</style>
<div class="panel panel-primary" data-sortable-id="ui-buttons-3">
    <div class="panel-heading">

        <h4 class="panel-title f-s-15">添加组</h4>
    </div>
    <div class="panel-body">
        
        <form class="form-horizontal" role="form" name="myForm" ng-submit="submitgroup()">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">组名</label>
                <div class="col-sm-10" >
                    <input type="text" class="form-control" id="username" name="username" 
                           placeholder="请输入组名" ng-model="newgroup_name" required>
                    <span style="color:#c33" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                        <span ng-show="myForm.username.$error.required"><i class="fa fa-info-circle"></i> 请输入组名</span>
                    
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">小组信息</label>
                <div class="col-sm-10">
                    <input type="text" name="password" class="form-control" id="password" ng-model="newgroup_info" required placeholder="请输入小组信息">
                    <span style="color:#c33" ng-show="myForm.password.$touched && myForm.password.$invalid">
                    <span ng-show="myForm.password.$error.required&&myForm.password.$touched"><i class="fa fa-info-circle"></i> 请输入小组信息</span>
                  
                </div>
            </div> -->
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-disabled="myForm.username.$dirty && myForm.username.$invalid ">添加</button>
                </div>
            </div>
        </form>
    </div>
</div>